<h2 class="section-title">Theatre Credits</h2>
{{#if resume.stageCredits.length}}
<table class="credits-table">
    <thead>
        <tr>
            <th>Year</th>
            <th>Role</th>
            <th>Show</th>
            <th>Director</th>
            <th>Company</th>
        </tr>
    </thead>
    <tbody>
        {{#each resume.stageCredits}}
        <tr>
            <td class="credit-year">{{year}}</td>
            <td>{{role}}</td>
            <td class="credit-show">{{show}}</td>
            <td>{{director}}</td>
            <td>{{company}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>
{{else}}
<p>No stage credits available.</p>
{{/if}}
