{{#resume.basics}}
            <div class="card-header resume-header">
                <h1 class="header-name">{{name}}</h1>
                <h3>{{label}}</h3>
                <div class="row">
                    <div class="col-sm-12 sociallinks">
                        <ul class="sociallinks">
                            <li class="sociallinks"><i class="fab fa-github"></i> <a class="sociallinks"
                                    href="https://www.github.com/jsjohnstone">jsjohnstone</a></li>
                            <li class="sociallinks"><i class="fab fa-linkedin"></i> <a class="sociallinks"
                                    href="https://www.linkedin.com/in/jsjohnstone">jsjohnstone</a></li>
                            <li class="sociallinks"><i class="fas fa-globe-americas"></i> <a class="sociallinks"
                                    href="https://www.jamiejohnstone.com">jamiejohnstone.com</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-12 contactlinks">{{location.city}} • {{phone}} • {{email}}</div>
                </div>
            </div>
{{/resume.basics}}