{{#if resume.projects.length}}
	<h2>Development Projects</h2>
	<h5>Additional interesting software/development projects outside of roles:</h5>
	{{#each resume.projects}}
		<h4>{{#if name}}{{#if url}}<a
				href="{{url}}">{{name}} <i class="d-print-none fas fa-link fa-xs"></i></a>{{else}}{{name}}{{/if}}{{/if}}</h4>
		{{#if keywords.length}}<div>
			{{#each keywords}}<span class="badge badge-pill work-badge">{{.}}</span> {{/each}}
		</div>{{/if}}
		<p>{{#if description}}{{description}}{{/if}}</p>
	{{/each}}
	<hr>
{{/if}}